{% extends "base.html" %}

{% block content %}
  <div class="container">
    <h1>Menu - {{ dish_count }} Dishes Available</h1>

    {% if user.is_superuser %}
      <div class="text-right">
        <a href="{% url 'kitcher:create-menu' %}" class="btn btn-primary">Add New Dish</a>
      </div>
    {% endif %}

    <div class="row">
      {% for dish in dish_all_info %}
        <div class="col-md-6 mb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><a href="{{ dish.get_absolute_url }}">{{ dish.name }}</a></h5>
              <p class="card-text">Price: {{ dish.price }}$</p>
              <p class="card-text">Type: {{ dish.dish_type }}</p>
            </div>
          </div>
        </div>
      {% empty %}
        <div class="col-12">
          <p>No dishes available.</p>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
